$colorLetra: white;
$colorTitulo: yellow;
$paddingFondo: 10px 10px 10px 10px;
$borderCajas: 10px solid black;
$fontTitulos: 'Stardos Stencil';
$fontMain: 'Roboto', sans-serif;
$fontSizeTitulo: 60px;
$imagenFondoHeader:  url(../imagenes/fondo1.jpg);
$imagenFondoMain: url(../imagenes/fondo2.jpg);
$imagenFondoFooter: url(../imagenes/fondo1.jpg);
$borderNosotros: 1px solid yellow;
$paddingNosotros: 10px 10px 10px 10px;
$marginNosotros: 20px 20px 20px 20px;

